body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 60, 50)
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(83, 83, 83, 0.5);
}

div {
    margin-bottom: 10px;
    text-align: left;
}

#inicio {
    margin-left: 7px;
}

#fim {
    margin-left: 17px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
}